<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="drag.mandala.com.modulea">

    <application>
        <activity android:name=".LoginActivity"
                  android:exported="true"
        >
        </activity>
    </application>

</manifest>